extends layout

block content
  div(class="panel panel-default")
    div(class="panel-heading") #{title}
    div(class="panel-body") 
      form(name="offerForm", action="/offers/update", method="post")
        label User
        p #{offer.user_id}
        label Offer Details
        p
          textarea(name="offerdetails", class="form-control") #{offer.offerdetails}
        hr
        input(type="hidden", name="id", value="#{offer._id}") 
        input(type="submit", value="Save changes", class="btn btn-success") 
        a(href="/offers", class="btn btn-warning") Cancel 
        a(href="/offers/delete/#{offer._id}", class="btn btn-danger") Delete 

