extends layout

block content
  .panel.panel-default
    .panel-heading #{title}
    .panel-body
      form(name="offerForm", action="/offers/#{offer_id}", method="post")
        label User
        p #{offer.user.firstname} #{offer.user.lastname}
        label Offer Details
        p
          .form-group
            textarea.form-control(name="offerdetails") #{offer.offerdetails}
        hr
        input(type="hidden", name="id", value="#{offer._id}") 
        input.btn.btn-success(type="submit", value="Save changes") 
        &nbsp;
        a.btn.btn-warning(href="/offers") Cancel 
        &nbsp;
        a.btn.btn-danger(href="/offers/delete/#{offer._id}") Delete 

