extends layout

block content
  .panel.panel-default
    .panel-heading #{title}
    .panel-body
      a.btn.btn-primary(href="offers/new") Add new Offer
      br
      br
      table.table.table-striped
        each offer, i in offerList
          tr
            td #{offer.offerdetails} #{user._id}
            td #{offer.user.firstname} #{offer.user.lastname}
            td
              if (offer.user.username == user.username)
                a.btn.btn-info.btn-sm(href="/offers/edit/#{offer._id}") Edit
